@import url("https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css");

/* Checbox */
input[type=checkbox] {
    transform: scale(0.5);
}

/* Loading animation */
#loading {
    opacity: 0;
}

/* Footer */
.footer {
    position: relative;
    bottom: 0;
}